@import "../base";

body {
	padding: 0;
}

.pull-left {
	float: left;
	padding-right: 20px;
}

.hud {
	padding: 2em;
	background-color: rgba(255,255,255,0.9);
}

.clear {
	clear: both;
}

.muti-list {
	list-style: none;
}

.muti-list li {
	float: left;
	margin: 10px;
	border-radius: 10px;
	border: 1px solid #eee;
	padding: 10px;
}

.muti-list li:hover {
	background-color: #eee;
}


#theCanvas {
	position: absolute;
	top:0;
	left: 0;
	z-index: -1;
}